.pr-12px {
    padding-right: 12px;
}

.icon {
    font-size: 12px;
    text-align: center;
}

.oneliner {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #B5B5C3;    
    white-space: nowrap;
}

.search-results {
    top: 45px;
    background-color: #fff;
    padding:  10px;
    border-radius: 10px;
    left: 40px;
    width: auto;
}

.search-results li {
    display: block;    
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.search-results li:last-child {
    height: 50px;
    border: none;
}

.search-results h3 {
    font-size: 16px;
    line-height: 17px;
    color: #6B6EF9;
}

@media only screen and (max-width: 640px) {
    .search-results {
        top: 48px;
        background-color: #fff;
        padding: 10px;
        border-radius: 0;
        left: 0px;
        width: 100%;
        position: fixed !important;
        overflow-y: scroll;
        height: calc(100vh - 48px);
    }
}

.tag {
    background-color: #ECF0F8;
    border-radius: 6px;
    color: #49577A;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 18px;
    margin-left: 5px;
    float: right;
}